{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= titlevalue %></title>
</head>
<body>
    <h1>coffee!</h1>
    <p>?</p>
    {{body}}
    <!-- <script src="bundle.js"></script> -->
</body>
</html> --}}
{{!-- <body> --}}
    <h2>{{name}}</h2>
    <p>{{color}}</p>
{{!-- </body> --}}