<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{{titlevalue}}}</title>
</head>

<body>
    <header class="row justify-between align-center">
        <h3>coffe page</h3>
        <nav class=""> <a href="#">register </a>
            <span>or </span>
            <a href="#">login</a>
        </nav>
    </header>
    <h1>coffee!</h1>
    <p>now it does</p>
    <article id="out"> </article>
    
    {{{body}}}
    <!-- <script src="bundle.js"></script> -->
</body>

</html>