
        <section class="hero column align-center ">
            <h3 class="text-center">this text</h3>
            <button id="thisbtn">im a button!</button>

            <h2>{{name}}</h2>
            {{#each things}}
            <h3>{{this}}</h3>
            {{/each}}
        </section>

